:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: auto;
}
header {
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 3;
}
nav ul {
  list-style-type: none;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}
li {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.7rem 2.5rem;
  font-style: italic;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  box-shadow: 5px 6px 12px 2px rgba(0, 0, 0, 0.53);
}
div {
  position: fixed;
  margin-top: 0;
  z-index: -1;
  width: 90%;
  height: 80vh;
  background-image: url(https://images.unsplash.com/photo-1583180905739-50d2b8b49804?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
h1 {
  height: 100%;
  color: #aeacae;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
}
p {
  padding: 2rem 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  background-color: white;
}
main {
  padding-top: 80vh;
  z-index: 2;
}
